body, html {
  padding: 0;
  margin: 0;
  min-height: 100%;
}

html {
  position: relative;
}

body {
  margin-bottom: 8rem !important;
}

div.container {
  border-radius: 5px;
}

button.login {
  background-color: #004d4d;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 5%;
}

button.register {
  background-color: #004d4d;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 5%;
}

div.form-group {
  margin-top: 5%;
}


div#margin {
  margin-top: 20px;
}

/*manageUser*/

header.page-heading {
	  background: #343a40;
    border-top: 6px solid #d4d4d4;
    border-bottom: 6px solid #d4d4d4;
    position: relative;
    text-align: center;
}

div.col-md-12 {
	position: relative;
  min-height: 1px;
	padding-top: 5px;
  padding-left: 15px;
  padding-right: 15px;
	color: white;
	font-family: none;
  margin: 0;
}

div.col.align-self-center h2 {
  text-align: center;
  margin-top: 10px;
}

/*footer*/

footer.footer {
  position: absolute;
  bottom: 0;
  background: #343a40;
  height: 8rem;
  font-family: none;
  clear: both;
  width: 100%;
}

footer.footer div.col.footer p {
  color: orange;
}

footer.footer div.col p {
  text-align: center;
  color: #fff;
}

/*website's body*/
hr {
	background-color: #307D7E;
  margin-left: 25%;
  margin-right: 30%;
}

a.body {
  color: #999999;
	font-size: 15px;
  text-decoration: none;
	display: inline-block;
	text-align: center;
  padding: 10px;
	background-color: #307D7E;
}

/*block*/

div.container-form hr{
  margin-left: 0;
  margin-right: 0%;
}


/*unblock*/

div.idname{
  text-align: center;
  margin-bottom: 9rem;
  margin-top: 5%;
}

div.row.col input.centered{
  text-align: center;
  vertical-align: middle;
}

div.col-md-8{
  color: black;
}

div.heading{
  margin-left: 40%;
}


@media screen and (max-width: 680px) {
  nav.topnav a:not(:nth-child(6)){
    display:none;
  }

}
