body {
  background-image: url(images/login.jpg);
}
div.container {
  background: #ffffff;
  margin: auto;
  margin-top: 5%;
  border-radius: 5px;
}

div.colors {
  background: #ffffff;
}

div.container.registration {
  width: 40%;
}

div.container.login {

}

button.login {
  background-color: #004d4d;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 5%;
}

button.register {
  background-color: #004d4d;
  width: 100%;
  margin-top: 2%;
  margin-bottom: 5%;
}

div.form-group {
  margin-top: 5%;
}

input.form-control {

}

#InputPassword {

}

div#margin {
  margin-top: 20px;
}
