<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit-no">
    <link rel="stylesheet" href="/static/css/lab.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>Admin Module</title>
  </head>
  <body>
    {{{body}}}
  </body>
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/script.js"></script>
</html>
