<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <title>Web Technologies</title>
  </head>
  <body>
    <header class="page-heading">
      <div class="contain">
        <div class="row">
          <div class="col-md-12">
            <h2>RENT COSTUME</h2>
          </div>
          <div class="col-md-12">
            <nav id="breadcrumb">
              <a href="/manage_user" class="spacing">MANAGE USER</a>
              <a href="/transaction" class="spacing">TRANSACTION</a>
              <a href="/block" class="spacing">BLOCK</a>
              <a href="/unblock" class="spacing">UNBLOCK</a>
            </nav>
          </div>
        </div>
      </div>
    </header>
    {{{body}}}
    <footer>
        <div class="footerContainer">

            <hr>
            <div class="footerRow">
                <div id = "font"><p>Web Systems and Technologies</p></div>
                <p>&copy; Group 2. 2018</p>
            </div>
        </div>
    </footer>
  </body>
  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/script.js"></script>
</html>
