<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../css/bootstrap-grid.min.css">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../lab.css">
    <title>title</title>
  </head>
  <body style="background-color: red">
    {{{body}}}
  </body>
  <script src="../../js/bootstrap.min.js"></script>
</html>
