<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <title>Web Technologies</title>
  </head>
  <body>
    <header class="page-heading">
      <div class="contain">
        <div class="row">
          <div class="col-md-12">
            <h2>RENT COSTUME</h2>
          </div>
          <div class="col-md-12">
            <nav class="topnav" id="dropdownClick">
              <a href="/manage_user" class="spacing">MANAGE USER</a>
              <a href="/transaction" class="spacing">TRANSACTION</a>
              <a href="/block" class="spacing">BLOCK</a>
              <a href="/unblock" class="spacing">UNBLOCK</a>
              <a href="/signout" class="spacing">SIGN OUT</a>
              <a href="" "onclick="dropdownMenu"" class="dropdownIcon">OPTION</a>
            </nav>



          </div>
        </div>
      </div>
    </header>
    {{{body}}}
    <footer>
        <div class="footerContainer">
            <hr>
            <div class="footerRow">
                <div id = "font"><p>Web Systems and Technologies</p></div>
                <p>&copy; Group 2. 2018</p>
            </div>
        </div>
    </footer>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
  <script src="/static/js/script.js"></script>
</html>
