<div class="container">
  <form method="POST" action="block">
    <div class="heading">
  	  <h1>Proprietor</h1>
  	</div>
    <div class="row">
      <div class="col col-3"></div>
      <div class="col col-5"><b>Name</b></div>
      <div class="col col-4"><b>Block</b></div>
    </div>
    {{#each companies }}
        <div class="block">
          {{ username }}
          <input type="checkbox" name="btn[p{{comp_id}}]" class="unblockbtn" value="block">
        </div>
        <hr>
    {{/each }}
    <div class="heading">
  	  <h1>Renter</h1>
  	</div>
    {{#each clients }}
        <div class="block">
          {{ username }}
          <input type="checkbox" name="btn[r{{client_id}}]" class="unblockbtn"value="block">
        </div>
        <hr>
    {{/each }}
    <div class="idname">
    <button>Block</button>
    </div>
  </form>
</div>
