{{#if error}}
  <script>
    alert('{{error}}');
  </script>
{{/if}}
<div class="container login">
  <form id = "contact-form" method="POST" action="login">
    <div class="form-group">
      <label for="username" class="label-color" id="margin">Username</label>
      <input type="name" class="form-control" id="InputEmail" aria-describedby="emailHelp" placeholder="Enter username" name="username">
    </div>
    <div class="form-group">
      <label for="InputPassword" class="label-color">Password</label>
      <input type="password" class="form-control" id="InputPassword" placeholder="Password" name="password">
    </div>
<<<<<<< HEAD
    <div class="custom-form">
      <button type="submit" class="btn btn-light btn-lg btn-block">Register</button>
    </div>
=======
    <button type="submit" class="btn btn-dark btn-lg btn-block">Log In</button>
>>>>>>> cfcb417b3f5b4d5c5e992cd1cc6fd16f95ecf225
  </form>
</div>
