
	<body class="bodyDiv">
		<header class="page-heading">
			<div class="contain">
				<div class="row">
					<div class="col-md-12">
						<h2>RENT COSTUME</h2>
					</div>
					<div class="col-md-12">
						<nav id="breadcrumb">
							<a href="/manageUser" class="spacing">MANAGE USER</a>
		          <a href="/transactions" class="spacing">TRANSACTION</a>
		          <a href="/unblock" class="spacing">UNBLOCK</a>
						</nav>
					</div>
				</div>
			</div>
		</header>

        <div class="col-md-12">
		    <nav class="breadcrumb1">
		        <a href="/manageUser" class="body">USER REQUEST</a>
		        <a href="/block" class="body">BLOCK LIST</a>
		    </nav>
		</div>

		<div id="row">
			<div class="col-md-6">
				<p>NAME</p>
			</div>
			<div id="col-md-6">
				<p>ACTION</p>
			</div>
		</div>

        <div class="container-form">
          {{#each companies }}
              <form method="POST">
                  <div class="colors">
                      {{ username }}
                      <input type="submit" name="acceptbtn" class="btnForm" value="accept">
                      <input type="submit" name="rejectbtn" class="btnForm" value="reject">
                  </div>
              </form>
              <hr>
          {{/each }}
        </div>

        <footer>
            <div class="footerContainer">
                <div class="footerRow">
                    <br>
                    <div id="font"><p>ABOUT THIS SITE</p></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
                </div>
                <hr>
                <div class="footerRow">
                    <div id = "font"><p>Web Systems and Technologies</p></div>
                    <p>&copy; Group 2. 2018</p>
                </div>
            </div>
        </footer>
