{{#each companies }}
  <form method="POST">
    <div class="colors">
      {{ username }}
      <input type="submit" name="acceptbtn" value="accept">
      <input type="submit" name="rejectbtn" value="reject">
    </div>
  </form>
  <hr>
{{/each }}
