<div class="container">
  <form method="POST" action="unblock">
    {{#if companies }}
      <div class="row">
        <div class="col align-self-center">
          <h2>Proprietor</h2>
        </div>
      </div>
      <div class="row">
        <div class="col col-lg-10 col-md-10 col-sm-10">
          <b>Name</b>
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-2 centered">
          <b>Unblock</b>
        </div>
      </div>
      {{#each companies }}
          <div class="row">
            <div class="col col-lg-10 col-md-10 col-sm-10">
              {{ username }}
            </div>
            <div class="col col-lg-2 col-md-2 col-sm-2 centered">
              <input type="checkbox" name="btn[p{{comp_id}}]" class="unblockbtn" value="Unblock">
            </div>
          </div>
      {{/each }}
      <hr>
    {{/if}}
    {{#if clients}}
    <div class="row">
      <div class="col align-self-center">
        <h2>Renter</h2>
      </div>
    </div>
    <div class="row">
      <div class="col col-lg-10 col-md-10 col-sm-10">
        <b>Name</b>
      </div>
      <div class="col col-lg-2 col-md-2 col-sm-2 centered">
        <b>Unblock</b>
      </div>
    </div>
    {{#each clients }}
      <div class="row">
        <div class="col col-lg-10 col-md-10 col-sm-10">
          {{ username }}
        </div>
        <div class="col col-lg-2 col-md-2 col-sm-2 centered">
          <input type="checkbox" name="btn[c{{client_id}}]" class="unblockbtn" value="Unblock">
        </div>
      </div>
      <hr>
    {{/each }}
    {{/if}}
    <div class="idname">
      <button>Unblock</button>
    </div>
  </form>
</div>
